*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #af67e9, #9f67e9, #8d66e9, #7a66e8, #6565e7);
}

.tot-content{
    width: 70%;
    margin: 100px auto;
}

#faqContent{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
    color: hsl(238, 29%, 16%);
    border-radius: 20px;
    padding: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.bck-img {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.ilt-img{
    width: 12%;
    position: absolute;
    left: 115px;
    top: 275px;
}

.lad-img{
    width: 28%;
    position: absolute;
    left: 150px;
    top: 193px;
}

.bg-img{
    width: 28%;
    position: absolute;
    left: 153px;
    top: 160px;
}

ul,li{
    list-style: none;
    text-align: left;
}

.faqContent{
    padding: 0 15px;
}

.header{
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(238, 29%, 16%);
    text-align: left;
    width: 55%;
    margin-bottom: 20px;
}


.faq{
    width: 397px;
    padding: 10px 0;
    border-bottom: 1.2px solid hsl(240, 5%, 91%);
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 13px;
    color: hsl(240, 6%, 50%);
    padding: 10px 0;
    text-align: left;
}

.question:hover{
    color: hsl(14, 88%, 65%);
}
    

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
    margin-left: 2px;
}

.answer p {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 13px;
    color: hsl(240, 6%, 50%);
    padding: 10px 0;
    line-height: 1.5;
    text-align: left;
}

.faq.active .question{
    color: hsl(238, 29%, 16%);
}

.faq.active .answer{
    max-height: 300px;
    animation: fade 0.8s ease-in-out;
}

.faq.active img{
    transform: rotate(180deg);
}


#icon-arrow-down{
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.creator{
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.creator h3{
    color: hsl(238, 29%, 16%);
}

.creator a{
    color: #fff;
}

@media only screen and (max-width:376px) {

    body{
        height: 650px;
    }
    
    .tot-content{
        width: 85%;
    }
    
    #faqContent{
        padding: 20px;
        padding-bottom: 35px;
    }

    .bck-img{
        margin-bottom: 75px;
    }

    .lad-img{
        width: 55%;
        position: absolute;
        top: 7px;
        left: 80px;
    }

    .ilt-img{
        width: 20%;
        position: absolute;
        top: 85px;
        left: 100px;
    }

    .bg-img{
        width: 58%;
        position: absolute;
        top: -22px;
        left: 75px;
    }

    .header{
        margin: 10px auto;
        margin-bottom: -15px;
        padding: 20px 0;
        font-size: 1.4rem;
        text-align: center;
    }

    .faq{
        width: 100%;
        margin: 10px 0;
    }

    .question{
        font-size: 0.7rem;
    }

    .answer p{
        margin-top: -5px;
    }

    .creator{
        margin: 20px 0;
    }
}